<h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
<script src="https://apis.google.com/js/platform.js" async defer>
</script>
<meta name="google-signin-client_id" content="804233630975-8qdfrgfrh55dbgkbg5lk41ql8qmjukm6.apps.googleusercontent.com">
<script>
function onSignIn(googleUser) {
  console.log(googleUser)
  console.log(`Google status: connected.`);
  var profile = googleUser.getBasicProfile();
  if (profile.getName() !== undefined || null) {
    console.log(profile.getName());
  } eles {
      $.ajax({
      type: "POST",
      url: "https://vidly-zuodion.herokuapp.com/api/users",
      data: JSON.stringify({name: profile.getName(), email: profile.getEmail(), password: 'google'}),
      dataType: "json",
      contentType: "application/json",
      success: function(data){
          console.log(data);
          }
      })
  }
}
</script>
</h1>
