<h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
<script src="https://apis.google.com/js/platform.js" async defer>
</script>
<meta name="google-signin-client_id" content="804233630975-8qdfrgfrh55dbgkbg5lk41ql8qmjukm6.apps.googleusercontent.com">
<script>
function onSignIn(googleUser) {
  // console.log(googleUser)
  // var profile = googleUser.getBasicProfile();
  // var id_token = googleUser.getAuthResponse().id_token;
  // var xhr = new XMLHttpRequest();
  // xhr.open('POST', 'https://vidly-zuodion.herokuapp.com/api/googleAuth');
  // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  // xhr.onload = function() {
  // console.log('Signed in as: ' + xhr.responseText);
  // };
  // xhr.send('idtoken=' + id_token);

  var id_token = googleUser.getAuthResponse().id_token;
  console.log(id_token)
  $.ajax({
  type: "POST",
  url: "https://vidly-zuodion.herokuapp.com/api/googleAuth",
  data: JSON.stringify(id_token),
  dataType: "json",
  contentType: "application/json",
  success: function(data){
      console.log(data);
      },
  });

  console.log(`Google status: connected.`);
  $.ajax({
  type: "POST",
  url: "https://vidly-zuodion.herokuapp.com/api/users",
  data: JSON.stringify({name: profile.getName(), email: profile.getEmail(), password: 'google'}),
  dataType: "json",
  contentType: "application/json",
  success: function(data){
      console.log(data);
      },
  });
}
</script>
</h1>
