<header>
    <h1>{{pageTitle}}</h1>
    <p><a href = '/'>Home</a></p>
    <p><a href = '/api/genres'>Genres</a></p>
    <p><a href = '/api/users'>Users</a></p>
    <p><a href = '/api/auth'>Authenticaton</a><p>
</header>
