<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>

  {{> fbAuth}}
  {{> googleAuth}}
  {{> telegramAuth}}
  {{> header}}
<p>Some text here</p>
<img src="https://i.ytimg.com/vi/Fbj2R5l6MG0/maxresdefault.jpg" width="50%" align="center" border="3" hspace="10%" vspace="10%" />
{{> footer}}
</body>
</html>
